@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #1A1C1C;
  --primary: #735C00;
  --primary-container: #D4AF37;
  --on-primary-container: #554300;
  --secondary: #5F5E5E;
  --secondary-container: #E2DFDE;
  --surface: #F9F9F9;
  --surface-low: #F3F3F4;
  --surface-lowest: #FFFFFF;
  --surface-highest: #E2E2E2;
  --outline: #7F7663;
  --outline-variant: #D0C5AF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-secondary-container: var(--secondary-container);
  --color-surface: var(--surface);
  --color-surface-low: var(--surface-low);
  --color-surface-lowest: var(--surface-lowest);
  --color-surface-highest: var(--surface-highest);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --font-serif: var(--font-noto-serif), serif;
  --font-sans: var(--font-manrope), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply antialiased;
}

.glass-nav {
  @apply sticky top-0 z-50 bg-white/70 backdrop-blur-[20px] transition-all duration-500;
}

.product-card {
  @apply aspect-[4/5] bg-surface-lowest overflow-hidden transition-all duration-300;
}
